@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url("https://fonts.googleapis.com/css?family=Poppins:400");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  background-color: whitesmoke;
}

header .navbar {
  padding: 0;
  background-color: rgb(84, 84, 186);
  border-bottom: solid black 1px; }
  header .navbar .container-nav {
    padding: 0; }
    header .navbar .container-nav .logo {
      margin-left: 1rem;
      font-size: 28px;
      font-weight: bold;
      color: black; }
    header .navbar .container-nav .navbar-toggler {
      margin-right: 1rem;
      background-color: #c0b8b8;
      border: solid black 1px; }
    header .navbar .container-nav .navbar-collapse .navbar-nav .nav-item {
      background-color: #f8f8f8;
      border-top: black 1px solid;
      border-bottom: black 1px solid; }
      header .navbar .container-nav .navbar-collapse .navbar-nav .nav-item .nav-link {
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        color: black; }
    header .navbar .container-nav .navbar-collapse .navbar-nav .nav-item:hover {
      background-color: #112d22; }
      header .navbar .container-nav .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
        color: #f8f8f8; }

.mainIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0rem 2rem; }
  .mainIndex .tituloPagina {
    padding: 1rem;
    margin-top: 2rem;
    font-size: 2.5rem; }
  .mainIndex .mensajeBienvenida {
    padding: 0.4rem;
    text-align: justify; 
    width: 80%;}
  .mainIndex img {
    width: 90%;
    margin: 1rem 0rem; }

  .mainIndex .contenedorProductos .listadoProductos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    gap: 1rem;
    padding: 2rem;
    list-style: none;
  }

  .mainIndex .contenedorProductos .listadoProductos .producto .opcionesProducto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
  }

  .mainIndex .infoCarro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0rem 2rem; 
    list-style: none;}

  .mainIndex .comprar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0rem 2rem; 
    list-style: none;}

/* .pagesContainer {
  display: flex; }
  .pagesContainer .linkPages {
    text-decoration: none;
    background-color: #171126; }
    .pagesContainer .linkPages .cardLink {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: antiquewhite;
      gap: 0.5rem;
      transition: all 0.5s ease-in-out; }
      .pagesContainer .linkPages .cardLink p, .pagesContainer .linkPages .cardLink h3 {
        display: none; }
      .pagesContainer .linkPages .cardLink .borde {
        width: 65%;
        align-items: center;
        border-radius: 50%;
        border: #766b6b solid 0.2rem;
        margin: 1rem;
        background-color: #e68080; }
        .pagesContainer .linkPages .cardLink .borde .iconLink {
          width: 100%;
          padding: 0.7rem; }
  .pagesContainer .linkPages:hover {
    background-color: #e68080; }
    .pagesContainer .linkPages:hover .cardLink .borde {
      background-color: #171126; }
      .pagesContainer .linkPages:hover .cardLink .borde .iconLink {
        filter: invert(0.8);
        transition: all 0.85s ease-in-out;
        transform: rotateY(360deg); } */

footer {
  background-color: #f8f8f8;
  text-align: center; }
  footer .footerDerechos {
    padding: 0.3rem 0rem;
    margin: 0;
    color: black;
    font-size: 15px;
    font-weight: bold; }

/* Responsive para tablet */
@media screen and (min-width: 600px) {
  header .navbar .container-nav .logo {
    font-size: 38px; }
  .mainIndex .tituloPagina {
    font-size: 3rem; }
  .mainIndex div {
    display: flex;
    gap: 1rem; }
  .mainIndex img {
    width: 80%; }
  .pagesContainer .linkPages .cardLink h3 {
    display: block; }
  .pagesContainer .linkPages .cardLink .borde {
    margin: 1rem 0rem 0rem 0rem;
    width: 40%; } }

/* Responsive para destkop */
@media screen and (min-width: 992px) {
  header .navbar .container-nav .navbar-brand {
    font-size: 50px !important; }
  header .navbar .container-nav .navbar-collapse .navbar-nav .nav-item {
    background-color: #f8f8f8;
    border-bottom: black 1px solid; }
    header .navbar .container-nav .navbar-collapse .navbar-nav .nav-item .nav-link {
      font-size: 20px;
      margin: 0rem 0.7rem; }
  .mainIndex {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "h1 h1"
 "mensajeBienvenida mensajeBienvenida"
 "infoCompra contenedorProductos"
 "comprar comprar"
 "footer footer";
    justify-content: center;
    justify-items: center; }
    .mainIndex div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem; }
    .mainIndex .subtituloPrincipal {
      margin: 2rem 0rem; }
    .mainIndex .tituloPagina {
      grid-area: h1;
      font-size: 3.2rem; }
    .mainIndex .mensajeBienvenida {
      grid-area: mensajeBienvenida; }
      .mainIndex .comprar {
        grid-area: comprar; }
    .mainIndex .contenedorProductos {
      grid-area: contenedorProductos; }
    .mainIndex .infoCompra {
      grid-area: infoCompra; }

}
